TRANSPORT_DB_NAME=transport
TRANSPORT_DB_USERNAME=transport
TRANSPORT_DB_PASSWORD=change-me

AUDIT_DB_NAME=audit
AUDIT_DB_USERNAME=audit
AUDIT_DB_PASSWORD=change-me

GRAFANA_ADMIN_USERNAME=admin
GRAFANA_ADMIN_PASSWORD=change-me